/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-mjj-why-circle-text  {
	.wrapper{
		float: left;
		margin: 10px;

		.circle{
			float: none;
			margin: 0 auto;
		}
	}
}
